# Introduction to Machine Learning.

First we import all the python libraries.

In [2]:
import numpy as n
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt


print("All modules loaded")
print(f"Ran code chunk at {dt.datetime.now()}")

All modules loaded
Ran code chunk at 2023-07-22 05:12:10.108630

Recall the main function we have been using:

$f(x) = 2n.cos(0.5x+1) + n.sin(x) + x/100$

And we simply called $y = f(x)$

In [3]:
x = n.arange(-20, 10)

print("x", x)

y = 2*n.cos(0.5*x+1) + n.sin(x) + x/100

print("y", y)

x [-20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10  -9  -8  -7  -6  -5  -4  -3
  -2  -1   0   1   2   3   4   5   6   7   8   9]
y [-2.93520577 -1.54390102  0.27998718  1.48466813  1.63570783  1.15288741
  0.78973322  0.86717251  0.98389729  0.46839861 -0.86326613 -2.37503186
 -3.04934324 -2.32927383 -0.61287817  1.05039868  1.79740711  1.58404512
  1.07070257  0.90369414  1.08060461  0.99294539  0.09700375 -1.43116722
 -2.69678749 -2.78183765 -1.52670274  0.305395    1.63668262  1.91945803]

Now, remember this function can be separated into three separate components: $x_1, x_2, x_3$. 

Where: 

1. $x_1 = 2*cos(0.5*x+1)$
2. $x_2 = sin(x)$
3. $x_3 = x/100$

You will also remember the code below. Notice that the heart of everything is creating the list, i.e. the array x. This numpy array 'x' is created using n.arange() function. Also, this list object in math is called a vector.

In [4]:
x1 = 2*n.cos(0.5*x+1)
x2 = n.sin(x)
x3 = x/100

print('x1', x1, '\n\n', 'x2', x2, '\n\n', 'x3', x3)

x1 [-1.82226052 -1.20402381 -0.29100007  0.69327064  1.50780451  1.95317525
  1.92034057  1.41733955  0.56732437 -0.4215916  -1.30728724 -1.87291337
 -1.97998499 -1.60228723 -0.83229367  0.1414744   1.08060461  1.75516512
  2.          1.75516512  1.08060461  0.1414744  -0.83229367 -1.60228723
 -1.97998499 -1.87291337 -1.30728724 -0.4215916   0.56732437  1.41733955]

 x2 [-0.91294525 -0.14987721  0.75098725  0.96139749  0.28790332 -0.65028784
 -0.99060736 -0.42016704  0.53657292  0.99999021  0.54402111 -0.41211849
 -0.98935825 -0.6569866   0.2794155   0.95892427  0.7568025  -0.14112001
 -0.90929743 -0.84147098  0.          0.84147098  0.90929743  0.14112001
 -0.7568025  -0.95892427 -0.2794155   0.6569866   0.98935825  0.41211849]

 x3 [-0.2  -0.19 -0.18 -0.17 -0.16 -0.15 -0.14 -0.13 -0.12 -0.11 -0.1  -0.09
 -0.08 -0.07 -0.06 -0.05 -0.04 -0.03 -0.02 -0.01  0.    0.01  0.02  0.03
  0.04  0.05  0.06  0.07  0.08  0.09]

The above is not a great way to view the three vectors.

We will put this into a dataframe and print it.

Easiest way to make a dataframe using lists of numbers in python, also known as vectors or arrays is to first create a python dictionary.

In [5]:
X = dict(x1 = x1, x2 = x2, x3 = x3)
print(X)

{'x1': array([-1.82226052, -1.20402381, -0.29100007,  0.69327064,  1.50780451,
        1.95317525,  1.92034057,  1.41733955,  0.56732437, -0.4215916 ,
       -1.30728724, -1.87291337, -1.97998499, -1.60228723, -0.83229367,
        0.1414744 ,  1.08060461,  1.75516512,  2.        ,  1.75516512,
        1.08060461,  0.1414744 , -0.83229367, -1.60228723, -1.97998499,
       -1.87291337, -1.30728724, -0.4215916 ,  0.56732437,  1.41733955]), 'x2': array([-0.91294525, -0.14987721,  0.75098725,  0.96139749,  0.28790332,
       -0.65028784, -0.99060736, -0.42016704,  0.53657292,  0.99999021,
        0.54402111, -0.41211849, -0.98935825, -0.6569866 ,  0.2794155 ,
        0.95892427,  0.7568025 , -0.14112001, -0.90929743, -0.84147098,
        0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849]), 'x3': array([-0.2 , -0.19, -0.18, -0.17, -0.16, -0.15, -0.14, -0.13, -0.12,
       -0.11, -0.1 , -0.09, -0.08, -0.07, -0.06, -0.05, -0.04, -0.03,
       -0.02, -0.01,  0.  ,  0.01,  0.02,  0.03,  0.04,  0.05,  0.06,
        0.07,  0.08,  0.09])}

In [6]:
df = pd.DataFrame(X)
df

          x1        x2    x3
0  -1.822261 -0.912945 -0.20
1  -1.204024 -0.149877 -0.19
2  -0.291000  0.750987 -0.18
3   0.693271  0.961397 -0.17
4   1.507805  0.287903 -0.16
5   1.953175 -0.650288 -0.15
6   1.920341 -0.990607 -0.14
7   1.417340 -0.420167 -0.13
8   0.567324  0.536573 -0.12
9  -0.421592  0.999990 -0.11
10 -1.307287  0.544021 -0.10
11 -1.872913 -0.412118 -0.09
12 -1.979985 -0.989358 -0.08
13 -1.602287 -0.656987 -0.07
14 -0.832294  0.279415 -0.06
15  0.141474  0.958924 -0.05
16  1.080605  0.756802 -0.04
17  1.755165 -0.141120 -0.03
18  2.000000 -0.909297 -0.02
19  1.755165 -0.841471 -0.01
20  1.080605  0.000000  0.00
21  0.141474  0.841471  0.01
22 -0.832294  0.909297  0.02
23 -1.602287  0.141120  0.03
24 -1.979985 -0.756802  0.04
25 -1.872913 -0.958924  0.05
26 -1.307287 -0.279415  0.06
27 -0.421592  0.656987  0.07
28  0.567324  0.989358  0.08
29  1.417340  0.412118  0.09

This is how you will typically receive data. 

These $x_1, x_2, x_3$ can be thought of as variables, as they are varying. So we can rename these to variable1, variable2, variable3.

Further, when you get a dataset you typically also get a variable of interest. It is the main thing you are interested in, for example, the price of a stock, or the height of a person, etc. It is also called outcome variable. And we can think of y as our outcome variable and you would receive this in the dataset. 

The way you can add columns to your dataframe is as follows:

In [7]:
df['y'] = y

df

          x1        x2    x3         y
0  -1.822261 -0.912945 -0.20 -2.935206
1  -1.204024 -0.149877 -0.19 -1.543901
2  -0.291000  0.750987 -0.18  0.279987
3   0.693271  0.961397 -0.17  1.484668
4   1.507805  0.287903 -0.16  1.635708
5   1.953175 -0.650288 -0.15  1.152887
6   1.920341 -0.990607 -0.14  0.789733
7   1.417340 -0.420167 -0.13  0.867173
8   0.567324  0.536573 -0.12  0.983897
9  -0.421592  0.999990 -0.11  0.468399
10 -1.307287  0.544021 -0.10 -0.863266
11 -1.872913 -0.412118 -0.09 -2.375032
12 -1.979985 -0.989358 -0.08 -3.049343
13 -1.602287 -0.656987 -0.07 -2.329274
14 -0.832294  0.279415 -0.06 -0.612878
15  0.141474  0.958924 -0.05  1.050399
16  1.080605  0.756802 -0.04  1.797407
17  1.755165 -0.141120 -0.03  1.584045
18  2.000000 -0.909297 -0.02  1.070703
19  1.755165 -0.841471 -0.01  0.903694
20  1.080605  0.000000  0.00  1.080605
21  0.141474  0.841471  0.01  0.992945
22 -0.832294  0.909297  0.02  0.097004
23 -1.602287  0.141120  0.03 -1.431167
24 -1.979985 -0.756802  0.04 -2.696787
25 -1.872913 -0.958924  0.05 -2.781838
26 -1.307287 -0.279415  0.06 -1.526703
27 -0.421592  0.656987  0.07  0.305395
28  0.567324  0.989358  0.08  1.636683
29  1.417340  0.412118  0.09  1.919458

Now typically, when you receive such a data. Your goal would be to find how the variables are related to the outcome variable.

In our case, if we simply do $x_1 + x_2 + x_3$ it will be equal to y. It is possible we also had the variable $x$ also given to us. So will will add that to the dataset.

In [10]:
df['x'] = x # Here we have added the x variable. However, it was add at the end.
# Want to added it at the beginning. We show how to do taht below.
print(df)
first_col = df.pop('x')
df.insert(0, 'x', first_col)
df

     x        x1        x2    x3         y
0  -20 -1.822261 -0.912945 -0.20 -2.935206
1  -19 -1.204024 -0.149877 -0.19 -1.543901
2  -18 -0.291000  0.750987 -0.18  0.279987
3  -17  0.693271  0.961397 -0.17  1.484668
4  -16  1.507805  0.287903 -0.16  1.635708
5  -15  1.953175 -0.650288 -0.15  1.152887
6  -14  1.920341 -0.990607 -0.14  0.789733
7  -13  1.417340 -0.420167 -0.13  0.867173
8  -12  0.567324  0.536573 -0.12  0.983897
9  -11 -0.421592  0.999990 -0.11  0.468399
10 -10 -1.307287  0.544021 -0.10 -0.863266
11  -9 -1.872913 -0.412118 -0.09 -2.375032
12  -8 -1.979985 -0.989358 -0.08 -3.049343
13  -7 -1.602287 -0.656987 -0.07 -2.329274
14  -6 -0.832294  0.279415 -0.06 -0.612878
15  -5  0.141474  0.958924 -0.05  1.050399
16  -4  1.080605  0.756802 -0.04  1.797407
17  -3  1.755165 -0.141120 -0.03  1.584045
18  -2  2.000000 -0.909297 -0.02  1.070703
19  -1  1.755165 -0.841471 -0.01  0.903694
20   0  1.080605  0.000000  0.00  1.080605
21   1  0.141474  0.841471  0.01  0.992945
22   2 -0.832294  0.909297  0.02  0.097004
23   3 -1.602287  0.141120  0.03 -1.431167
24   4 -1.979985 -0.756802  0.04 -2.696787
25   5 -1.872913 -0.958924  0.05 -2.781838
26   6 -1.307287 -0.279415  0.06 -1.526703
27   7 -0.421592  0.656987  0.07  0.305395
28   8  0.567324  0.989358  0.08  1.636683
29   9  1.417340  0.412118  0.09  1.919458